.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 2rem;
  position: relative;
}

.header a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.header h2 {
  font-weight: 800;
}

.header h4 {
  font-size: 1rem;
  font-weight: 700;
}

@media (max-width: 530px) {
  .header a {
    color: #cecece;
  }
}

@media (max-width: 430px) {
  .header {
    padding: 1rem 1.4rem;
  }
}
