.index-div {
  width: 100%;
  text-align: center;
  margin-top: 2rem;
  border: 1.2px solid #c50052b0;
  border-radius: 5px;
  padding: 1.2rem;
  box-shadow: 1px 1px 10px 10px #00000038;
  box-shadow: 1px 1px 20px 10px #00000038 inset;
}

.index-div h2 {
  color: rgb(224, 224, 224);
  font-size: 1.2rem;
  text-align: left;
  margin-bottom: 2rem;
}

.logo-div {
  margin: 1rem 0px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.logo-div img {
  width: 50px;
  height: 50px;
}

@media (max-width: 530px) {
  .index-div {
    text-align: center;
    border: 1px solid #000000cc;
    background-color: #1f1f1f;
    box-shadow: 1px 1px 10px 10px #00000056;
    box-shadow: 1px 1px 20px 15px #00000070 inset;
    padding: 1rem;
  }

  .index-div h2 {
    color: rgb(201, 201, 201);
    font-size: 1rem;
    text-align: left;
    margin-bottom: 2rem;
  }

  .logo-div img {
    width: 40px;
    height: 40px;
  }
}
