.index-div {
  width: 100%;
  text-align: center;
  margin-top: 2rem;
  border: 1.2px solid #0000001a;
  background-color: #2e303f;
  border-radius: 12px;
  padding: 1.2rem;
  box-shadow: 1px 1px 10px 10px #00000038;
}

.index-div h2 {
  color: rgb(224, 224, 224);
  font-size: 1rem;
  text-align: left;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.logo-div {
  margin: 1rem 0px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.logo-div img {
  width: 50px;
  height: 50px;
}

@media (max-width: 530px) {
  .index-div {
    text-align: center;
    box-shadow: 1px 1px 5px 5px #0000001a;
    padding: 1rem;
    border-radius: 12px;
    margin-top: 1rem;
  }

  .index-div h2 {
    color: rgb(196, 196, 196);
    font-size: 0.85rem;
    text-align: left;
    margin-bottom: 2rem;
  }

  .logo-div img {
    width: 42px;
    height: 42px;
  }
}

@media (max-width: 290px) {
  .logo-div img {
    width: 35px;
    height: 35px;
  }
}
