.input {
  width: 100%;
  padding: 1rem 105px 1rem 1rem;
  border: 1.2px solid #c50052;
  border-radius: 6px;
  background-color: transparent;
  color: rgb(224, 224, 224);
  box-shadow: 1px 1px 10px 10px #00000038;
  box-shadow: 1px 1px 20px 10px #00000038 inset;
}

.input:focus {
  outline: none;
}

.input::placeholder {
  color: rgb(216, 216, 216);
}

.btn {
  font-size: 0.8rem;
  position: absolute;
  padding: 0.75rem 1rem;
  border: 0px;
  border-radius: 5px;
  background-color: #c50052ce;
  color: rgb(235, 235, 235);
  right: 5px;
  top: 5px;
  cursor: pointer;
  box-shadow: 1px 1px 10px 10px #00000038;
}

.btn:hover {
  background-color: #91003c;
}

@media (max-width: 425px) {
  .input {
    padding: 0.8rem 100px 0.8rem 1rem;
  }
  .btn {
    padding: 0.6rem 0.8rem;
    right: 5px;
    top: 4px;
  }
}
