.input-div {
  width: 40%;
  margin: 5rem auto;
  position: relative;
}

.input {
  width: 100%;
  padding: 1rem 105px 1rem 1rem;
  border: 1px solid #c50052;
  border-radius: 6px;
  background-color: transparent;
  color: white;
}

.input:focus {
  outline: none;
}

.input::placeholder {
  color: white;
}

.btn {
  font-size: 0.8rem;
  position: absolute;
  padding: 0.75rem 1rem;
  border: 0px;
  border-radius: 5px;
  background-color: #c50052;
  color: white;
  right: 5px;
  top: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: #91003c;
}

@media (max-width: 425px) {
  .input {
    padding: 0.8rem 100px 0.8rem 1rem;
  }
  .btn {
    padding: 0.6rem 0.8rem;
    right: 5px;
    top: 4px;
  }
}
