.input-div {
  width: 40%;
  margin: 5rem auto;
  position: relative;
}

@media (max-width: 1024px) {
  .input-div {
    width: 60%;
  }
}

@media (max-width: 550px) {
  .input-div {
    width: 80%;
    margin: 3rem auto;
  }
}

@media (max-width: 425px) {
  .input-div {
    width: 90%;
  }
}
